

#top{
  width: 100%;
  height: 10%;
  background-color: grey;
  position: absolute;
  left: 0%;
  top:0%;
  color: red;
  padding: 5px;
}
#menu{
  width: 19%;
  height: 80%;
  padding: 5px;
  background-color: blue;
  position: absolute;
  top:10%;
  bottom: 10%;
  left: 0%;

}
#centro{
  width: 80%;1
  height: 80%;
  background-color: chocolate;
  position: absolute;
  top:10%;
  left: 20%;
  bottom: 10%;
padding: 5px;
}
#bottom{
  color: blue;
  background-color: red;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 10%;
  padding: 5px;
}
h1{

};
